* {
  box-sizing: border-box;
}

body {
  background: lightgray
}

.hero {
  background-color: #55AD99;
}

.hero-body {
  text-align: center;
}

.notification.is-info {
  background-color: #aeb3c7;
}

.button.is-link {
  padding: 20px;
  margin-bottom: 20px;
}

.cat-image-caption {
  text-align: center;
  color: black;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 16pt;
}

.cat-image-caption input {
  border: 2px solid black;
}

.footer {
  background-color: #55AD99;
}