* {
  box-sizing: border-box;
}

body {
  background: lightgray
}

.hero-body {
  text-align: center;
}

.notification.is-info {
  background-color: #aeb3c7;
}

.button.is-link {
  padding: 20px;
  margin-bottom: 20px;
}